body {
  margin: 0;
  font-family: 'Exo 2', 'Acme', 'Amaranth', sans-serif;
}

h3 {
  letter-spacing: 1.5px;
}

h5 {
  letter-spacing: 0.5px;
}

h6 {
  letter-spacing: 0.9px;
}

/*Home*/

div.slider h3,
div.slider h5 {
  font-weight: 700;
  text-shadow: 3px 1px 4px #646363;
}

nav {
  z-index: 2;
  background-color: #ffcc80 !important;
}

#home img{
  background-position: bottom;
}


/*Sidenav*/


ul.sidenav {
  width: 250px;
}

ul.sidenav li {
  line-height: 33px !important;
}

ul.sidenav .divider {
  margin: 15px 20px 28px 25px;
  background-color: #686666;
}

ul.sidenav .subheader {
  font-size: 15px;
  line-height: 20px !important;
}

.side-bar {
  font-size: 17px !important;
}

.nav-icon {
  margin-right: 20px !important;
}

/*About Me*/
.section-about h3 {
  text-shadow: 1px 1px 1px rgba(174, 172, 172, 0.46);
  margin-top: 2.5rem
}

.section-about h6 {
  margin-bottom: 2.5em;
  line-height: 30px;
}

/*Skills*/
.skill-pic {
  width: 100%;
  opacity: 0.6;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tool-logo {
  border-radius: 15%;
  width: 6rem;
  height: 6rem;
  margin: 8px !important;
}



/*Project*/
.project-info {
  font-size: 1.15em;
}

.section-project .row {
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  color: #232222;
  font-weight: 700;
  font-size: large;
  letter-spacing: 0.8px;
}

.section-project .card-image .card-title {
  top: 50%;
  left: 50%;

  padding: 5px;
  border: 2px solid rgb(241, 236, 236);

  transform: translate(-50%, -50%);
  opacity: 0;

  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px #524f4f;
}

.card-title {
  left: 50% !important;
  top: 50% !important;
  width: 80%;
  padding: 0;
  font-size: 1.2rem;

}

.card-title p {
  margin: 0;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.card-image:hover .card-title {
  opacity: 1;
  transition: all .3s ease-in;
}

.card-image:hover .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.324);
  transition: all .3s ease-in;
}

.valign-wrapper {
  flex-direction: column;
  align-items: unset;
  justify-content: center;
}


/*Resume*/

.more-pic {
  width: 120% !important;
  opacity: 0.8 !important;
}

#resume-content a {
  width: 180px;
  margin: 10px;
}

#resume-content {
  display: flex;
  align-items: center;
  height: 100%;

}

#resume-content .resume-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Footer*/
.page-footer .row {
  text-align: center;
}

.footer-logo {
  width: 40px;
  height: 40px;
}

#footer-links {
  margin: 1.45rem 0 0 0;
}

#footer-links a {
  margin: 0 .7rem;
}


@media screen and (max-width: 700px) {
  h3 {
    font-size: 2.2em !important;
  }
}

@media screen and (min-width: 1400px){
  #home img{
    background-position: 50% 85%;
  }
}